
body {
  background-image: url(../assets/wolf-zimmermann-6sf5rf8QYFE-unsplash.jpg);
  background-size: cover;
  font-family:Georgia, 'Times New Roman', Times, serif;
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  color: white;
}

label {
  color: white;
  font-weight: 700;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding-top: 0px;
  padding-bottom: 100px;
  font-weight: 700;
  margin: 20px;
  opacity: 60%;
  width: 50%;
  height: 20vh;
}

ul {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  margin: 50px;
  border: 2px solid;
  padding: 10px;
  box-shadow: 6px 4px 8px;
}

ul li p {
  background-color: lightgray;
  opacity: 70%;
  padding: 80px;
  font-weight: 700;
}

footer {
  text-align: center;
  color: white;
  margin-top: 100px;
  font-weight: 600;
}

/* MEDIA QUERIES */

@media (max-width: 560px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  ul li {
    align-items: center;
  }
}